<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPSC_481_Trailexplorers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CPSC_481_Trailexplorers.Properties.Settings>
            <setting name="Province" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Park" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Radio1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Radio2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Radio3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sliderTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sliderElevation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sliderDistance" serializeAs="String">
                <value>0</value>
            </setting>
        </CPSC_481_Trailexplorers.Properties.Settings>
    </userSettings>
</configuration>